body {
    margin: 0px;
    width: 100%;
    font-family: sans-serif;
}

header {
    width: 100%;
    margin: 0;
    box-shadow: 0 -17px 26px 4px grey;
}

img.logo {
    width: 35px;
    float: left;
}

.shadow {
    box-shadow: 0 0px 2px 1px lightgray;
    width: 100%;
}

div.conection {
    height: 40px;
    font-size: 15px;
    color: blueviolet;
    width: 1050px;
    margin: auto;
    padding: 20px;
}

div.conection div {
    float: right;
    color: blueviolet;
    font-size: 17px;
    font-family: Georgia;
}

button {
    color: blueviolet;
    border: 1px solid blueviolet;
    background-color: white;
    border-radius: 4px;
    padding: 10px;
    margin-left: 20px;
    font-size: 17px;
}

div.menuprin {
    width: 1050px;
    height: fit-content;
    margin: auto;
}

.menu {
    display: inline-block;
    padding: 10px;
}

div.menuprin p img {
    float: left;
    width: 150px;
    margin: -10px;
    margin-right: 15px;
}

div.total {
    width: 1050px;
    margin: auto;
    align-content: center;
}

.article {
    padding-left: 200px;
    padding-right: 200px;
}

#parad {
    margin: 0;
    width: 1050px;
}

figure {
    margin: 0;
}

div.follow img {
    width: 50px;
    border-radius: 50%;
    float: left;
}